*{
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}

main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(238,0,235), rgb(255,82,253));
}

main section form{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

main section form article{
    position: relative;
    width: 350px;
    height: 680px;
    border: 2px solid black;
}

#nome,
#email,
#senha{
    width: 250px;
    height: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 12px;
    transition: 500ms;
}

#nome:focus,
#nome:valid{
    border-bottom: 1px solid white;
    color: white;
}
#email:focus,
#email:valid{
    border-bottom: 1px solid white;
    color: white;
}
#senha:focus,
#senha:valid{
    border-bottom: 1px solid white;
    color: white;
}

.nome{
    position: absolute;
    top: 40%; left: 50%; transform: translate(-50%, -50%);
    
}
.email{
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    
}
.senha{
    position: absolute;
    top: 60%; left: 50%; transform: translate(-50%, -50%);
    
}

label{
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 500ms;
}

#nome:focus ~ label,
#nome:valid ~ label{
    transform: translateY(-32px);
    color: white;
}
#email:focus ~ label,
#email:valid ~ label{
    transform: translateY(-32px); 
    color: white;
}

#senha:focus ~ label,
#senha:valid ~ label{
    transform: translateY(-32px);
    color: white;
}