* {
    position: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100dvw;
    min-height: 100dvh;
    background-image: linear-gradient(to left, #7d13b6, #6c049d, #270040);
}

main form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main form section div {
    position: relative; /* Relative deixa seu filho totalmente absolute a ele */
    margin-top: 24px;
}

i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 28px;
}

label {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
}

input {
    width: 280px;
    height: 42px;
    padding-left: 12px;
    padding-right: 12px;
    background: linear-gradient(to left, #9904cd, #de03ec);
    outline: none;
    border: 1px solid black;
    border-radius: 8px;
}
