* {
    position: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100dvw;
    min-height: 100dvh;
    background-image: linear-gradient(to left, #7d13b6, #6c049d, #270040);
}

main form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main form section div {
    position: relative;
    margin-top: 24px;
    border: 1px solid palegreen;
}

input {
    position: relative;
    width: 280px;
    height: 42px;
}

label {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
}