* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

main {
    position: relative;
    width: 100dvw;
    min-height: 100dvh;
    background-image: linear-gradient(to left, #7d13b6, #6c049d, #270040);
}

main form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main form section legend{
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
}

main form section div {
    position: relative;
    /* Relative deixa seu filho totalmente absolute a ele */
    margin-top: 24px;
}

main form section div i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 28px;
}

label {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
}

input {
    width: 280px;
    height: 42px;
    padding-left: 12px;
    padding-right: 12px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

input,
label,
i {
    transition: 500ms;
}

input:focus,
input:valid {
    border-bottom: 1px solid #b83cfc;
    color: #b83cfc;
    font-weight: bold;
}

input:focus~label,
input:valid~label {
    transform: translateY(-36px);
    color: #b83cfc;
}

input:focus~i,
input:valid~i {
    color: #b83cfc;
}

.box-btn {
    width: 100%;
    height: 38px;
    position: relative;
}

.box-btn button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to left, #7d13b6, #6c049d, #270040);
    border: none;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
    width: 100px;
    height: 100%;
    color: white;
    font-weight: bold;
    transition: 500ms;
}

button:hover{
    transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 7px 7px 10px #b83cfc;
    color: #ff03e1;
}