*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(189,202,189), rgb(55,55,55));
    position: relative;
}

main form{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

main form fieldset{
    position: relative;
    width: 350px;
    height: 650px;
    border: 2px solid black;
    border-radius: 16px;
}

fieldset #boxNome{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

fieldset #boxSenha{
    position: absolute;
    top: 60%; left: 50%;
    transform: translate(-50%, -50%);
}

fieldset #boxBtn{
    position: absolute;
    top: 65%; right: 60%;
    transform: translate(-50, -50%);
}
#nome,
#senha{
    width: 250px;
    height: 24px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

#nome::placeholder,
#senha::placeholder{
    color: black;
    font-weight: bolder;
}

#btn{
    position: relative;
    width: 100px; height: 24px;
    color: black; font-weight: bolder;
    border: none;
    overflow: hidden;
}

#btn::after{
    content: "";
    position: absolute; display: block;
    width: 100%; background-color: black;
    height: 350%;
    top: 0;
    left: -90px;
    transform: rotate(140deg);
}

#btn::after:hover{
    left: 90px;
}