*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 150px;
}
/*Container pai*/
main{
    width: 100dvw;
    min-height: 100dvh;
    background: linear-gradient(to right, rgb(0,198,83), rgb(14,115,1));
    position: relative;
}

/*Caixa que guarda o card*/
main .box{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

/*Card que contem a imagem*/
.cardBox{
    border: 2px solid black;
    border-radius: 16px;
    width: 250px;
    height: 350px;
    overflow: hidden;
}

/*Foto que vai receber clique*/
.cardBox #ftMiniatura{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

#modal{
    position: fixed;
    top: 0; left: 0;
    display: none;
    width: 100%;
    min-height: 100dvh;
}

#modal #zoomImg{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 85dvw;
    height: 75dvh;
    border-radius: 16px;
}

#modal #fechar{
    position: absolute;
    left: 50%;
    top: 48px;
    transform: translate(-50%, -50%);
    font-size: 42px;
}