*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100dvw;
    min-height: 100dvh;
    background: linear-gradient(to bottom, rgb(50,38,255), rgb(173,169,250));
    position: relative;
}

main form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main form fieldset{
    position: relative;
    border: 2px solid black;
    border-radius: 16px;
    width: 85dvw;
    height: 85dvh;
}

main form fieldset .nome{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal-nome{
    
}

main form fieldset .email{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main form fieldset .senha{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nome, #email, #senha{
    position: relative;
    width: 250px;
    height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(173,169,250);
    font-size: 1.1em;
    font-weight: bold;
    transition: 500ms;
}

label{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
    font-size: 1.1em;
    transition: 500ms;
}

#nome:focus, #nome:valid{
    border-bottom: 2px solid rgb(27,15,255);
    color: rgb(27,15,255);
}

#nome:focus ~ label, #nome:valid ~ label{
    transform: translateY(-28px); 
    
}

/* #modal-nome{
    border: 2px solid black;
} */