* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100dvw;
    min-height: 100dvh;
    background: linear-gradient(120deg, rgb(33, 254, 253), rgb(0, 167, 166));
}

main section form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section form fieldset {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    border: 1px solid black;
}

main section form fieldset .titulo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    width: 250px;
    height: 38px;
}

main section form fieldset .titulo h1 {
    text-align: center;
    line-height: 38px;
    font-size: 2.8em;
}

main section form fieldset .nome {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section form fieldset .email {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section form fieldset .senha {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section form fieldset input {
    width: 300px;
    height: 52px;
    outline: none;
    border: 2px solid rgb(64, 156, 255);
    border-radius: 12px;
    background: linear-gradient(to left, rgb(0, 145, 225), rgb(0, 89, 138));
    padding-left: 12px;
    padding-right: 32px;
    color: white;
    font-weight: bold;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
}

input::placeholder{
    color: rgb(207,234,255);
}

main section form fieldset i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: rgb(207,234,255);
    font-size: 1.6em;
}

main section form fieldset .container-btn{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section form fieldset .container-btn button{
    width: 75px;
    height: 32px;
    border: 2px solid black;
    border-radius: 12px;
    margin-left: 32px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.3);
    transition: 500ms;
}

main section form fieldset .container-btn button:first-child{
    margin-left: 0;
}

button:hover{
    transform: translateY(-4px) scale: 1.1;
}

main section form fieldset .box-redes-sociais {
    /* border: 2px solid black; */
    position: absolute;
    max-width: 100%;
    min-width: 350px;
    height: 60px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section form fieldset .box-redes-sociais ul {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    /* border: 2px solid hotpink; */
    list-style: none;
}

main section form fieldset .box-redes-sociais ul li{
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 26px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.3);
    transition: 500ms;
}

li:hover{
    transform: scale(1.1);
}

.box-redes-sociais:has(li:hover) li:not(:hover){
    transform: scale(.7);
    opacity: 0.7;
}

main section form fieldset .box-redes-sociais ul li:first-child{
    margin-left: 0;
}

main section form fieldset .box-redes-sociais ul li i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6em;
}

main section form fieldset .box-redes-sociais ul li a{
    color: rgb(207,234,255);
}