*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#scroll-container{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

#scroll-container .content{
    display: inline-block;
    width: 350px; height: 450px;
    
}