:root {
    --cor01: #1F89E0;
    --cor02: #003665;
    --cor03: #B1DCFF;
    --cor04: #00233D;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

img {
    width: 125px;
}

.cabecalho {
    min-width: 100dvw;
    height: 100%;
    background: var(--cor01);
}


.cabecalho .nav-links {
    background: var(--cor02);
    position: sticky;
}

.cabecalho .nav-links ul {
    list-style: none;
    margin-left: 12px
}

.cabecalho .nav-links ul li {
    display: inline-block;
    width: 80px;
    height: 35px;
    margin: 12px 0 12px 12px;
    background: var(--cor01);
    border-radius: 8px;
    overflow: hidden;
    transition: 500ms;
}

.cabecalho .nav-links ul li:first-child {
    margin-left: 0;
}

.cabecalho .nav-links ul li:hover {
    background-color: var(--cor04);
    transform: scale(1.05);
}


.cabecalho .nav-links ul li a {
    text-decoration: none;
    display: block;
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    color: white;
    transition: 500ms;
}

.cabecalho .nav-links ul li:hover a {
    color: var(--cor02);
}


#container-main {
    min-width: 100dvw;
    min-height: 100dvh;
}

.section01 {
    background-color: black;
    /* fallback caso a img não renderize */
    background-image: linear-gradient(to bottom, #00000050, #000000), url(../src/background01.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 25px black,
        inset 0px 0px 25px #00000045;
}

.space-btn {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 12px 0 12px 0;
}

.space-btn .btn {
    display: inline-block;
    width: 100px;
    height: 45px;
    background: var(--cor02);
    border: solid black 2px;
    border-radius: 8px;
    overflow: hidden;
}

.space-btn .btn a {
    display: block;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    line-height: 45px;
}

/*Infos dos personagens*/
.section01 .info-personagem {
    width: 100%;
    height: 100%;
    border: 2px black solid;
}

.section01 .info-personagem .nome-personagem {
    text-align: center;
    font-size: 2em;
    padding: 12px 0 12px 0;
}

.section01 .info-personagem .info-diana {
    line-height: 1.5em;
    text-align: justify;
    font-weight: 500;
    padding: 0 10px 0 4px;
    color: white;
}

.box {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid red;
}

.box .cards {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 150px;
    margin: 24px;
    border: 2px hotpink solid;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor03));
    overflow: visible;
}

.box .cards img {
    position: absolute;
    width: 150px;
    top: -25px;
    left: -39px;
    clip-path: inset(0px 0px 40.7px 0px);
    /* Uma boa maneira de manipular partes de imgs e divs */
}